In [1]:
import pandas as pd
import numpy as np

In [2]:
d=pd.read_csv(r"Fish.csv")

In [3]:
d.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
d.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [5]:
d["Species"].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [6]:
x=d.iloc[:,1:7].values
y=d.iloc[:,0:1].values

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer([("oh",OneHotEncoder(),[0])],remainder="passthrough")
y=ct.fit_transform(y.toarray())

AttributeError: 'numpy.ndarray' object has no attribute 'toarray'

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=4)

In [8]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)

NameError: name 'x_train' is not defined

In [9]:
ypred=mlr.predict(x_test)

NameError: name 'x_test' is not defined

In [10]:
from sklearn.metrics import r2_score
accuracy = r2_score(ypred,y_test)

NameError: name 'ypred' is not defined

In [11]:
accuracy

NameError: name 'accuracy' is not defined

In [12]:
d.tail(10)

    Species  Weight  Length1  Length2  Length3  Height   Width
149   Smelt     9.8     10.7     11.2     12.4  2.0832  1.2772
150   Smelt     8.7     10.8     11.3     12.6  1.9782  1.2852
151   Smelt    10.0     11.3     11.8     13.1  2.2139  1.2838
152   Smelt     9.9     11.3     11.8     13.1  2.2139  1.1659
153   Smelt     9.8     11.4     12.0     13.2  2.2044  1.1484
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792